
:root {
    --clr-text: black;
    --clr-border: #f9ce21;
    --bg-clr-gray: #eeeeee;
    --bg-clr-light: #fafafa;
    --switch-bg: #ccc;
    --switch: #fff;
    --switchHover: #f9ce21;
    --gray-text: #303030;
    --darkBG: #1c1c1c;
    --darkYellowForm: #b69100;
    --accent-clr: #ff490f;
    --accent-clr2: #d6ab00;
    --light-gray-text: #535353;
    --box-shadow: rgb(0 0 0 / 20%);
    --dropshadow: rgb(0 0 0 / 10%);
    --icon-clr: #1d1d1d;
    --mainFont: 'Montserrat', sans-serif;
}
.darkmode {
    --clr-text: #d6d6d6;
    --clr-border: #32fcce;
    --bg-clr-gray: #111111;
    --bg-clr-light: #212121;
    --switch-bg: #353535;
    --switch: #c7c7c7;
    --switchHover: #32fcce;
    --gray-text: #d3d3d3;
    --darkYellowForm: #0f5e4b;
    --accent-clr: #ff2d3b;
    --accent-clr2: #00a780;
    --light-gray-text: #b1b1b1;
    --box-shadow: rgb(0 0 0 / 60%);
    /* --clr-text: white;  --=old colors
    --clr-border: #ffdc51;
    --bg-clr-gray: #181818;
    --bg-clr-light: #222225;
    --switch-bg: #353535;
    --switch: #c7c7c7;
    --gray-text: #d3d3d3; */
    --dropshadow: rgb(0 0 0 / 30%);
    --icon-clr: #e4e4e4;
    --mainFont: 'Montserrat', sans-serif;
    transition: 100ms ease-in;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: var(--mainFont);
    font-size: 100%;
    background: var(--bg-clr-gray);
}


#site {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 1.5em;
    overflow: hidden;
}
.content {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    gap: 3.5em;
    max-width: 80em;
    height: 56em;
    width: 65em;
    padding: 0 0 0 4em;
    margin: auto;
    background: var(--bg-clr-light);
    border-radius: 12px;
    box-shadow: 2px 2px 10px 4px var(--dropshadow);
    overflow: hidden;
}
.right {
    height: 100%;
    max-width: 1100px;
}
.right > img {
    display: none;
    height: 100%;
}

.projects-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.projects-list li {
    padding: .6em 0;
}
.projects-list li a {
    text-decoration: none;
    color: var(--clr-text);
    font-size: 1.2rem;
    padding: 0 .3em;
    box-shadow: inset 0 -2px 0 var(--clr-border);
    transition: 190ms ease-in;
}
.projects-list li a:hover {
    color: black;
    box-shadow: inset 0 -22px 0 var(--clr-border);
}

img.show-photo { /*TO ACCEPT THE NEW CLASS*/
    display: block;
    animation: fade-in;
    animation-duration: 400ms;
}
@keyframes fade-in { /*THE OPENNING FROM CENTER*/
    0%{clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);}
    100%{clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}
}

/* TOGGLE theme BUTTON */
.toggle-theme-container {
    position: absolute;
    top: 3em;
    right: 3.5em;
    cursor: pointer;
}
.toggle-theme-container > i {
    font-size: 2rem;
    color: var(--icon-clr);
}
/* animated switch button */
#checkboxSwitch {
    height: 0;
    width: 0;
    visibility: hidden;
}
.switch-Label {
    display: block;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
    width: 4.5em;
    height: 2.1em;
    border-radius: 50px;
    background: var(--switch-bg);
}
.switch-Label::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 5px;
    width: 26px;
    height: 26px;
    background: var(--switch);
    border-radius: 30px;
    transition: 220ms ease-in;
}
/* #checkboxSwitch:checked + .switch-Label {
    background: var(--bg-clr-ligh);
} */

/*movement of the white dot*/
#checkboxSwitch:checked + .switch-Label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}
/* #checkboxSwitch:hover + .switch-Label::after {
    background: var(--switchHover);
} */

.small-screen {
    display: none;
}
.small-screen > p {
    font-size: 1.1rem;
    color: var(--gray-text);
}

/*SPECIAL BTN AT BOTTOM*/
.special {
    position: absolute;
    display: flex;
    bottom: -10px;
    width: 10em;
    height: 2.5em;
    border-radius: 12px;
    background: var(--bg-clr-light);
    cursor: pointer;
}
.special > span {
    font-size: 1.1rem;
    margin: auto;
    color: var(--gray-text);
    transform: translateY(-2px);
    transition: 210ms ease-in;
}
.special:hover > span {
    transform: translateY(-6px);
}
.message-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .95);
    animation: fade-in-modal;
    animation-duration: 180ms;
}
.message-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    animation: openWide;
    animation-duration: 200ms;
}
.message-container > span {
    color: var(--gray-text);
}
.special-close {
    position: absolute;
    top: -19px;
    right: -14px;
    font-size: 2.2rem;
    cursor: pointer;
}
.special-close > i {
    font-weight: 100;
    color: var(--clr-border);
    transition: color 130ms ease-in;
}
.special-close:hover > i {
    color: #0f5e4b;
}
/*ANIMATIONS FOR SPECIAL MODAL*/
@keyframes fade-in-modal {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* @keyframes openWide {
    0%{
        width: 11em;
    }
    100%{
        width: 15em;
    }
} */

@media (max-width: 1000px) {
    .content {
        display: none;
    }
    .small-screen {
        display: block;
    }
    .special {
        display: none;
    }
}


/*LOG IN FORM stuff better form added from newform branch*/
.login-container {
    position: relative;
    display: flex;
    margin: auto;
    width: 900px;
    height: 600px;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 2px 30px 6px rgba(0, 0, 0, .4);
}
.left-side {
    width: 100%;
    height: 100%;
    background: url('https://i.pinimg.com/originals/bd/33/f9/bd33f9fca64a0b0c114300440fbd1688.gif');
    background-position: center;
    background-size: cover;
}
.right-side {
    width: 100%;
    height: 100%;
    background: #fafafa;
}
.absolute-side {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
}
.form-container {
    position: relative;
    margin: auto;
    overflow: hidden;
    padding: 2.6em 1.4em;
    border-radius: 14px;
    color: var(--bg-dark);
    background: #fafafa;
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, .3);
}

.sigh-in-form {
    display: flex;
    flex-direction: column;
}
.sigh-in-form h3 {
    margin: 0 0 .5em 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    color: #535353;
}
.form-head {
    margin: .1em 0 2.6em 0;
}
.title-underline {
    content: '';
    width: 2.6em;
    display: block;
    margin: 0 auto;
    height: 2px;
    background: var(--accent-clr2);
}
.form-label {
    position: relative;
    margin-top: 2.3em;
    border-bottom: 1px solid #b1b1b1;
}
.form-label:first-of-type {
    margin: 0;
}
.f-input {
    font-size: .9rem;
    letter-spacing: 1px;
    width: 34ch;
    line-height: 1.8;
    border: none;
    outline: none;
    background: transparent;
    color: var(--accent-clr2);
}
.f-input::placeholder {
    color: #b1b1b1;
} 
.f-input:hover::placeholder {
    color: var(--accent-clr2);
}
.privacy-message > p {
    margin: 3em 0 1.4em 0;
    font-size: .83rem;
    text-align: center;
    color: #1b1b1b;
}
.rules-link {
    text-decoration: none;
    font-weight: 500;
    color: var(--accent-clr2);
}
.rules-link:hover {
    color: var(--light-gray-text);
}
.f-submit {
    border: none;
    border-radius: 20px;
    padding: .9em 0;
    color: white;
    background: var(--accent-clr2);
    cursor: pointer;
    transition: letter-spacing 200ms ease-in-out;
}
.f-submit:hover {
    letter-spacing: 1px;
}
.logIn-acount-box > p {
    font-size: .9rem;
    text-align: center;
    margin: 1.2em 0 0 0;
    color: #1b1b1b;
}
.logIn-acount-box  p a {
    text-decoration: none;
    font-weight: 600;
    color: var(--accent-clr2);    
}
.logIn-acount-box  p a:hover {
    color: var(--light-gray-text);   
}

/*input UNDERLINE*/
.underline {
    position: absolute;
    content: '';
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scale(0);
    transform-origin: left;
    background: var(--accent-clr2);
    transition: transform 220ms ease-in-out;
}
.f-input:focus + .underline {
    transform: scale(1);
}
/*ANIMATION FOR LOGIN FORM*/

.form-container {
    animation: login 280ms ease-in forwards;
}
@keyframes login {
    0%{
        opacity: 0;
        transform: translateY(90px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.close-btn:hover > i {
    transform: rotate(85deg);
}

/*CLOSE BTN LOGIN*/
.close-btn {
    position: absolute;
    display: flex;
    top: 0;
    right: 16px;
    font-size: 1.42rem;
    padding: .55em .2em .65em .2em;
    background: var(--accent-clr2);
    transform: translateY(-3em);
    clip-path: polygon(100% 0, 100% 100%, 50% 80%, 0 100%, 0% 0%);
    animation: close-show 330ms forwards;
    animation-delay: 550ms;
    cursor: pointer;
}
@keyframes close-show {
    0%{
        transform: translateY(-3em);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.close_svg {
    position: relative;
    stroke: white;
    stroke-width: 2px;
    fill: none;
    transition: 110ms ease-in-out;
}
.close_modal_btn:hover .close_svg{
    stroke: black;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 3px;
    stroke-miterlimit: 10;
    stroke: white;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
    animation-delay: 400ms;
  }
  .checkmark {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: white;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px white; /* original color - #7ac142*/
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    transform: rotate(0);
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    transition: transform 130ms ease-in-out;
  }
  .checkmark:hover .checkmark__check {
    transform: rotate(86deg);
  }
  .checkmark:hover {
    /* stroke: black; */
    fill: transparent;
  }
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px transparent;
    }
  }
